body {
  color: #101312;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1{
  color: #531D40;
  font-size: 5rem;
  margin-bottom: 15px;
  padding-top: 4px;
  font-family: 'Sacramento', cursive;
}
h2 {
  color: #531D40;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #531D40;
  font-size: 2rem;
}

p{
display: block;
font-family: 'Merriweather', sans-serif;
line-height: 2;
color: black;
}


hr{
  height: 0;
  border-style: dotted none none none;
  border-width: 10px;
  width: 50px;
  color: #f9e4db;
}
a {
  color: #ffa220;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 1.25rem;
}
a:hover {
  color: #e4f9f5;
}

.top-container {
  background-color: #FFE3DC;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  margin: 100px 0;
}
.bottom-container {
  padding: 50px 0 20px;
}
.skill-row {
  width: 50%;
  margin: 150px auto 100px auto;
  text-align: left;
}
.profile {
  margin: 50px auto 50px auto;
  width: 50%;
}
.intro {
  margin: 35px auto;
}
.profile-image {
  height: 30%;
  width: 30%;
}

.balloon-image {
  position: absolute;
  left: calc(50% - 70.5px);
  bottom: 200px;
  animation-name: balloon-animation;
  animation-duration: 1.9s;
  animation-iteration-count: infinite;
}

@keyframes balloon-animation {
  0% {
      bottom: 230px;
  }
  50% {
      bottom: 210px;
  }
  100% {
      bottom: 230px;
  }
}
.contact-message {
  width: 35%;
  margin: 40px auto 60px;
}
.copyright {
  color: #e4f9f5;
  font-size: 0.7rem;
  padding: 20px 0;
}
.top-cloud {
  position: absolute;
  top: 40px;
  right: 300px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.insurance {
  width: 25%;
  float: right;
  margin: auto 0px auto 30px;
}
.programming-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.msg {
  font-family: "Montserrat", sans-serif;
  color: #0a8c11;
  width: 60%;
  margin: 0 auto;
}
.typing h2 {
  overflow: hidden; 
  border-right: 0.15em solid #531D40; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: 0.1em; 
  animation: typing 3.5s steps(30, end) forwards,
    blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 25%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #f99735;
  }
}
.btn {
  -moz-box-shadow: 0px 8px 13px -7px #52D3D8;
  -webkit-box-shadow: 0px 8px 13px -7px #52D3D8;
  box-shadow: 0px 8px 13px -7px #52D3D8;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #52D3D8),
    color-stop(1, #52D3D8)
  );
  background: -moz-linear-gradient(center top, #ffa220 5%, #ffa220 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66bfbf', endColorstr='#11999e');
  background-color: #ffa220;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  text-indent: 0;
  display: inline-block;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  height: 49px;
  line-height: 49px;
  width: 166px;
  text-decoration: none;
  text-align: center;
}
.btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ffa220),
    color-stop(1, #ebc129)
  );
  background: -moz-linear-gradient(center top, #11999e 5%, #66bfbf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11999e', endColorstr='#66bfbf');
  background-color: #11999e;
}


.cloud1{
  position: absolute;
  right: 150px;
  width: 200px;
  margin-left: 250px;
  margin-top: 30px

}
.cloud2{
  position: absolute;
  left:  200px;
  width: 150px;
  margin-top: 200px;
}

.im{
  display: block;
  margin: 335px auto 0 auto;
  width: 700px;
}

.btn:active {
  position: relative;
  top: 4px;
}


.footer-link img {
  width: 30px;
  height: auto;
  vertical-align: middle;
}

.footer-link span{
  margin-left: 7px; 
    vertical-align: middle;
}

.footer {
  position: relative;
  background: #05b3a4;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:15%;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.menu__link:hover{
	color: white;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.imgur.com/ZAts69f.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
